services:
  payment-gateway:
    environment:
      - BANK_API_URL=http://bank-api-mock:80
    build: PaymentGateway
    depends_on: 
      - bank-api-mock
    ports:
      - 1111:80
  
  bank-api-mock:
    build: AcquiringBankMock
    ports:
      - 2222:80
        
  database:
    image: postgres
    environment:
      POSTGRES_PASSWORD: password
      